<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Tạo Doanh Nghiệp Mới</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" #formCreate="ngForm" (ngSubmit)="create(formCreate)" ngNativeValidate>
            <div class="form-group has-success">
                <label class="form-control-label" for="name">Tên doanh nghiệp</label>
                <input type="text" ngModel name="name" class="form-control form-control-success" id="name" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="JobGroup">Lĩnh vực </label>
                <input type="text" ngModel name="JobGroup" class="form-control form-control-warning" id="JobGroup" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="Address">Địa chỉ</label>
                <input type="text" ngModel name="Address" class="form-control form-control-warning" id="Address" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="PhoneCompany">Điện thoại công ty</label>
                <input type="text" ngModel name="PhoneCompany" class="form-control form-control-warning" id="PhoneCompany" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="EmailCompany">Email công ty</label>
                <input type="email" ngModel name="EmailCompany" class="form-control form-control-warning" id="EmailCompany" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="TaxCode">Mã số thuế</label>
                <input type="text" ngModel name="TaxCode" class="form-control form-control-warning" id="TaxCode" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="Representor">Người đại diện</label>
                <input type="text" ngModel name="Representor" class="form-control form-control-warning" id="Representor" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="PhoneRepresentor">Số điện thoại (Người đại diện/Doanh nghiệp)</label>
                <input type="text" ngModel name="PhoneRepresentor" class="form-control form-control-warning" id="PhoneRepresentor" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="EmailRepresentor">Email (Người đại diện/Doanh nghiệp)</label>
                <input type="email" ngModel name="EmailRepresentor" class="form-control form-control-warning" id="EmailRepresentor" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="RepresentorAnother">Người đại diện khác</label>
                <input type="text" ngModel name="RepresentorAnother" class="form-control form-control-warning" id="RepresentorAnother" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="description">Mô tả</label>
                <textarea ngModel name="description" class="form-control form-control-warning" id="description" required></textarea>
            </div>
            <div class="form-group has-danger">
                <admin-switch-button [Title]="'Đối tác'" [value]="isPartner" (valueChanged)="isPartner=$event"></admin-switch-button>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label">Logo</label>
                <admin-upload-file (uploadSuccess)="ImageURL=$event"></admin-upload-file>
            </div>
            <hr>
            <ngb-alert [type]="error.type" (close)="error.mess =''" *ngIf="error.mess != ''">{{ error.mess }}</ngb-alert>
            <div class="modal-footer">
                <button type="submit" class="btn-admin btn-primary">Lưu</button>
                <button type="button" class="btn-admin btn-secondary" (click)="close() ">Hủy</button>
            </div>
        </form>
    </div>
</ng-template>