//set tone color for website
$main-color: #006cb5;
$main-color-80: #008ae6;
$main-color-60: #1aa3ff;
$main-color-40: #4db8ff;
$main-color-20: #99d6ff;

$text-white:white;
$text-black:black;

// @font-face {
//     font-family: Montserrat;
//     src: url(~/fonts/Montserrat-Regular.ttf);
// }
$font-size-nav:14px;
//custom modal center screen 
.modal {
    text-align: center;
    padding: 0!important;
    // margin-top: 74px;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

$zindex-nav:  1035 !default;