$width-nav:280px;
$height-nav: 28px;
//cộng 8px padding nav
$margin-top-menu:66px;
$blue :#006CB5;
.bg-blue {
    background-color:#4099ff!important;
}
//set tone color for website
$main-color: #006cb5;
$main-color-80: #008ae6;
$main-color-60: #1aa3ff;
$main-color-40: #4db8ff;
$main-color-20: #99d6ff;

$text-white:white;
$text-black:black;