<div class="container">
    <div class="row hures-login">
        <a href="#" class="hures-loginbox col-md-6 col-lg-4">
                <div class="hures-loginbox-label">SINH VIÊN</div>
            <div class="hures-loginbox-intro col-lg-6">
                
                <div class="hures-loginbox-intro-big">TẠO HỒ SƠ</div>
                <div class="hures-loginbox-intro-mini">Tạo hồ sơ ngay để Nhà tuyển dụng nhìn thấy bạn</div>
            </div>
            <div class="hures-loginbox-logo col-lg-6">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
    
        </a>
        <a href="#" class="hures-loginbox hures-loginbox2 col-md-6 col-lg-4">
                <div class="hures-loginbox-label">DOANH NGHIỆP</div>
            <div class="hures-loginbox-intro col-lg-6">
                <div class="hures-loginbox-intro-big2">ĐĂNG TIN MIỄN PHÍ</div>
                <div class="hures-loginbox-intro-mini">Tiếp cận hàng trăm nghìn người tìm việc</div>
            </div>
            <div class="hures-loginbox-logo2 col-lg-6">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
    
            </div>
        </a>
        <div class=" hures-loginbox-res col-lg-3">
            <div class="row">
        
                    <a href="#" class="hures-loginbox-res-logo col-6 col-lg-6">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <div class="hures-loginbox-res-logoname">Đăng nhập</div>
                    </a>
    
          
                    <a href="#" class="hures-loginbox-res-logo col-6 col-lg-6" style="border-right:none;">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>                        
                        <div class="hures-loginbox-res-logoname">Đăng ký</div>
                    </a>
    
        
            </div>
        </div>
    </div>