<div class="hures-jobs-details-header">
  <div class="container">
    <h1>{{job?.title}}</h1>
    <p>{{ job?.company.name }} - {{ job?.workType.name}} - {{ job?.jobGroup.name }}</p>
  </div>
</div>
<div class="container hures-jobs-details-body">
  <!-- info -->
  <div class="row">
    <!-- left -->
    <div class="col-12 col-lg-8">
      <div class="jumbotron">
        <h4 class="job-detail-title">Thông tin</h4>
        <div class="row">
          <div class="col-12 col-md-6">
            <ul>
              <li>
                <strong>Địa điểm:</strong>
                <span>{{ job?.place}}</span>
              </li>
              <hr>
              <li>
                <strong>Kinh nghiệm:</strong>
                <span>{{ job?.experience}}</span>
              </li>
              <hr>
              <li>
                <strong> Vị trí:</strong>
                <span>{{ job?.position}}</span>
              </li>
              <hr>
              <li>
                <strong>Hình thức:</strong>
                <span>{{ job?.workType?.name }}</span>
              </li>
              <hr>
              <li>
                <strong>Ngày hết hạn:</strong>
                <span>{{ job?.deadlineApply | date:'dd/MM/yyyy'}}</span>
              </li>
              <hr>

            </ul>
          </div>
          <div class="col-12 col-md-6">
            <ul>
              <li>
                <strong>Số lượng:</strong>
                <span>{{ job?.number }}</span>
              </li>
              <hr>
              <li>
                <strong>Thử việc:</strong>
                <span>{{ job?.timePre}}</span>
              </li>
              <hr>
              <!-- <li>Tuổi:
                <span>{{ job?.age }}</span>
              </li> -->
              <hr>
              <li>
                <strong>Phúc lợi:</strong>
                <span>{{ job?.benefit}}</span>
              </li>
              <hr>
              <li>
                <strong>Mức lương:</strong>
                <span>{{job?.salary}}</span>
                <!-- từ
                <span>{{ job?.lowestSalary | currency:'VND':true }}</span> đến
                <span>{{job?.highestSalary | currency:'VND':true}}</span>  -->
              </li>
              <hr>
            </ul>
          </div>
          <div class="col-12 col-md-4 col-xl-3">
            <button *ngIf="role!='Admin'&&role!='Company'" class="hures-btn" (click)="apply(job)" rippleEffect>Ứng tuyển</button>
          </div>
        </div>
      </div>
      <div class="jumbotron">
        <h4 class="job-detail-title">Chi tiết</h4>
        <div class="hures-job-content-html" [innerHTML]="job?.contentURL"></div>
        <div class="row">
          <div class="col-12 col-md-4 col-xl-3">
            <button *ngIf="role!='Admin'&&role!='Company'" class="hures-btn" (click)="apply(job)" rippleEffect>Ứng tuyển</button>
          </div>
          <div class="col-12">
            <span class="float-right m-1">Lượt xem:
              <p class="d-inline-block" style="color:dodgerblue">{{ job?.viewCount }}</p>
            </span>
            <span class="float-right m-1">Ứng tuyển:
              <p class="d-inline-block" style="color:dodgerblue"> {{ job?.appliedCount }}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- right -->
    <div class="col-12 col-lg-4">
      <div class="jumbotron">
        <ul>
          <li style="max-height:100%;">
            <div class="hures-jobs-company-logo-container">
              <img [src]="job?.company.urlLogo" [alt]="job?.company.shortName">
            </div>
          </li>
          <hr>
          <li>
            <strong>Tên Doanh nghiệp:</strong>
            <span>{{ job?.company.name }}</span>
          </li>
          <hr>
          <li>
            <strong>Mã số thuế :</strong>
            <span>{{ job?.company.taxCode }}</span>
          </li>
          <hr>
          <li>

            <strong>Đại diện :</strong>
            <span>{{ job?.company.representor }}</span>
          </li>
          <hr>
          <li>
            <strong>Điện thoại</strong>
            <a href="tel:{{ job?.company.phoneNumber }}">{{job?.company.phoneNumber}}</a>
          </li>
        </ul>
        <hr>
        <div *ngIf="jobRelated$">
          <hure-jobs-container [jobsObserver]="jobRelated$" paging="no" limit="3" size="small" title="Đang tuyển"></hure-jobs-container>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>

</div>