<div class="body-footer">
        <div class="container">
                <div class="row">
                        <div class="col-md-6">
                                <div>
                                        <b>TRUNG TÂM QUAN HỆ DOANH NGHIỆP</b>
                                        <br> Trụ sở : 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div>
                                        ĐT: (08) 224 772 11
                                        <br> Email : quanhedoanhnghiep@hutech.edu.vn
                                </div>
                        </div>
                </div>
        </div>
</div>