<div class="hures-job-card d-flex flex-row align-content-stretch" id="hures-job-card" (click)="apply()" style="cursor:pointer;">
  <img *ngIf="size=='medium'" alt="logo" [src]="company?.urlLogo" onerror="this.src='./resources/logo_default.png'" />
  <div class="hures-job-content" style="cursor:pointer;">
    <div class="d-flex-column">
      <div class="row">
        <strong class="text-uppercase mt-0 mb-0 ml-1 col-12 company-name-title" (click)="apply()" [title]="company?.name">{{ company?.name| limitText:40 }}
        </strong>
        <p class="mt-0 mb-0 ml-1 d-block col-12">{{ company?.shortName | limitText:40}}</p>

      </div>
      <div class="row">
        <div class="col-12 col-lg-6 hures-job-info ">
          <small style="display:block;" class="text-muted m-1">
            <i class="fa fa-map-marker"></i> Địa chỉ: {{ company?.address }}</small>
        </div>
        <div class="col-12 col-lg-6 hures-job-info">
          <small style="display:block;" class="text-muted m-1">
            <i class="fa fa-file-text-o"></i> Mô tả: {{ company?.description | limitText:100}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="size=='small'" (click)="apply()" style="cursor:pointer;">
  <div class="hures-job-content-small">
    <div>
      <p class="card-text text-uppercase">{{ company?.name }}</p>
    </div>
  </div>
</div> -->