.overlay:target {
    visibility: visible;
    display: block;
}

.hures-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba($color: gray, $alpha: 0.4);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    .hures-overlay-container {
        width: 300px;
        min-height: 256px;
        max-height: 80%;
        overflow-y: auto;
        align-self: center;
    }
}