

.hures-event1{
    .hures-event2{
   
            .hure-event-card-box{
               padding:10px !important;
            }
    }
}
.has-text-centered{
    margin-top:10px;
    text-align: center;
    padding:0px !important;
    .ngx-pagination 
    {   padding:0px !important;
        .current {
            background: #014C7F !important;
        }
    }
}