<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- <h5 class="modal-title">Thông Tin Ứng Viên</h5> -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <h5>Tiến trình</h5>
            <progress-bar-apply [currentValue]="model?.status"></progress-bar-apply>
        </div>
        <h5>Thông tin ứng viên</h5>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Họ và tên : {{model.account?.fullName}} </td>
                    <td>
                        <img [src]="model.account?.avatar" class="avatar" alt="Ảnh đại diện">
                    </td>
                </tr>
                <tr>
                    <td>Lớp : {{model.account?.class}}</td>
                    <td>Khoa : {{model.account?.department}}</td>
                </tr>
                <tr>
                    <td>Email : {{model.account?.email}}</td>
                    <td>Số điện thoại : {{model.account?.phoneNumber}}</td>
                </tr>
                <tr>
                    <td>Ngày sinh : {{model.account?.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
                    <td>Giới tính : {{ model.account?.sex ? 'Nam' : 'Nữ'}}</td>
                </tr>
                <tr>
                    <td colspan="2">Địa chỉ : {{model.account?.address}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h5>Thông tin doanh nghiệp</h5>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Tên doanh nghiệp : {{model.job.company?.name}} </td>
                    <td>
                        <img [src]="model.job.company?.urlLogo" class="avatar" alt="Logo">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Địa chỉ : {{model.job.company?.address}}</td>
                </tr>
                <tr>
                    <td>Người đại diện : {{model.job.company?.representor}}</td>
                    <td>Số điện thoại : {{model.job.company?.phoneNumber}}</td>
                </tr>
                <tr>
                    <td>Quy mô : {{model.job.company?.scales}}</td>
                    <td>Giới tính : {{ model.job.company?.website}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>