<div class="hures-container">
    <div class="row" style="margin: 0.25rem">
        <!-- <div class="col-md-6"> -->
        <h4 class="text-center m-2" style="text-align: center">{{title}}</h4>
        <!-- </div> -->
    </div>
    <div *ngIf="jobs$ | async; let jobs; else waiting" class="d-flex flex-column">
        <ng-container *ngFor="let job of jobs| paginate: { itemsPerPage: limit, currentPage: page } ;let i=index">
            <hure-job [job]="job" class="m-1" [size]="size"></hure-job>
            <hr style="width:100%;">
        </ng-container>
        <h5 class="text-center" *ngIf="jobs.length==0">Không có mục nào</h5>
        <div class="has-text-centered">
            <pagination-controls *ngIf="paging=='yes' && jobs.length!=0" (pageChange)="page = $event" autoHide="true" previousLabel="Trước" nextLabel="Sau"></pagination-controls>
        </div>
    </div>
    <ng-template #waiting>
        <hure-waiter></hure-waiter>
    </ng-template>
</div>