<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Chỉnh Sửa Thông Tin</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" (ngSubmit)="save()" ngNativeValidate>
            <div class="form-group has-success">
                <label class="form-control-label" for="name">Tên nhóm nghề</label>
                <input type="text" [(ngModel)]="WorkTypeModel.name" name="name" class="form-control form-control-success" id="name" required>
            </div>

            <div class="form-group has-warning">
                <label class="form-control-label" for="shortName">Tên viết tắt </label>
                <input type="text" [(ngModel)]="WorkTypeModel.shortName" name="shortName" class="form-control form-control-warning" id="shortName"
                    required>
            </div>
            <hr>
            <ngb-alert [type]="error.type" (close)="error.mess =''" *ngIf="error.mess != ''">{{ error.mess }}</ngb-alert>
            <div class="modal-footer">
                <button type="submit" class="btn-admin btn-primary">Lưu</button>
                <button type="button" class="btn-admin btn-secondary" (click)="close()">Hủy</button>
            </div>
        </form>
    </div>
</ng-template>