.hures-account-settings-form{
    input{
        height: 32px;
    }
    strong, p{
        vertical-align: middle;
        margin: 0;
    }
    div.col-12{
        align-self: center;
        margin-top: 8px;
        margin-bottom: 4px;
    }
}
.avatar {
    width: 80px;
    height: 80px;
}