@import "~styles/variables";
.hures-menu-item {
    height: 100%;
    align-content: center;
    align-self: center;
    align-items: center;
    margin: auto 8px;
    background: white;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:disabled{
        &:hover{
            background: gray;
        }
    }
    a,
    button {
        color: black;
        margin: 0;
        width: 100%;
        height: 100%;
    } 
    &:hover {
        background: $main-color;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        a,
        button {
            color: white;
        }
    }
    .hures-menu-button {
        background: transparent;
        border: 0;
    }
}
@media screen and (max-width: 420px) {
    .hures-menu-item {
        .hures-menu-button{
            .text-size{
                i{
                    display: block;
                }

            }
        }
    }
}
@media screen and (max-width: 306px) {
    .hures-menu-item {
        .hures-menu-button{
            .text-size{
                i{
                    display: block;
                }
                font-size: 10px !important;
                font-weight: bold;
            }
        }
    }
}

