<div class="card mb-3" [@routerTransition]>
    <div class="card-header">Danh sách loại hình làm việc</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <button class="btn-admin btn-primary" (click)="openCreateUser()">Thêm loại hình làm việc</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group filter">
                    <select class="form-control" [(ngModel)]="numberItemPage" (change)="pageChange()" id="exampleSelect1">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                    </select>
                </div>
            </div>
            <div class="col-md-11">
                <div class="form-group input-group">
                    <input type="text" class="form-control" [(ngModel)]="keySearch" (keyup.enter)="getData()">
                    <span class="input-group-btn">
                        <button class="btn-admin btn-secondary" type="button" (click)="getData()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading">
            <div class="view-total">
                Tổng cộng {{totalItem}} dòng được tìm thấy
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped " *ngIf="_data">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên nhóm nghề</th>
                            <th>Tên viết tắt</th>
                            <th colspan="2" class="text-nowrap">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of _data;let i =index">
                            <td class="cell-sm">{{indexRow(i)}}</td>
                            <td class="cell-sm"> {{item.name}}</td>
                            <td class="cell-sm">{{item.shortName}}</td>
                            <td class="tac-vu">
                                <a (click)="openEdit(item.id)" placement="top" ngbTooltip="Sửa thông tin">
                                    <i class=" fa fa-pencil-square-o " aria-hidden="true "></i>
                                </a>
                            </td>
                            <td class="tac-vu">
                                <a (click)="showConfirmDelete(item.id)" placement="top" ngbTooltip="Xóa">
                                    <i class="fa fa-times " aria-hidden="true "></i>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="_data.length==0">
                            <td colspan="5" class="text-center">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ngb-pagination [pageSize]="numberItemPage " [collectionSize]="totalItem " [(page)]="currentPage " [maxSize]="numberPageView "
                [boundaryLinks]="true " (pageChange)="pageChange() "></ngb-pagination>
        </div>
        <admin-loading [isLoader]="isLoading"></admin-loading>
    </div>

</div>
<create-work-type (submitData)="getData() "></create-work-type>
<edit-work-type (submitData)="getData()"></edit-work-type>