<hure-overlay isActivated="true">
  <form [formGroup]="changePwdForm" style="background:white; padding: 16px;">
    <span (click)="close()" style="cursor:pointer; margin-top:8px; float:right;">
      <i class="fa fa-times"></i>
    </span>
    <h5 style="margin: 8px">Thay đổi mật khẩu</h5>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-lock"></i>
      </span>
      <input type="password" formControlName="oldPwd" placeholder="Mật khẩu cũ">
    </div>
    <div class="input-group" [class.invalid]="changePwdForm.controls.newPwd.invalid">
      <span class="input-group-addon">
        <i class="fa fa-lock"></i>
      </span>
      <input type="password" formControlName="newPwd" placeholder="Mật khẩu mới">
    </div>
    <small class="form-text text-muted" *ngIf="changePwdForm.controls.newPwd.invalid">
      Mật khẩu phải lớn hơn 10 kí tự
    </small>
    <div class="input-group" [class.invalid]="changePwdForm.controls.newPwd2.value!=changePwdForm.controls.newPwd.value">
      <span class="input-group-addon">
        <i class="fa fa-lock"></i>
      </span>
      <input type="password" formControlName="newPwd2" placeholder="Xác nhận mật khẩu">
    </div>
    <small class="form-text text-muted" *ngIf="changePwdForm.controls.newPwd2.value!=changePwdForm.controls.newPwd.value">
      Xác nhận mật khẩu không khớp
    </small>
    <button type="submit" rippleEffect [disabled]="changePwdForm.controls.oldPwd.invalid||changePwdForm.controls.newPwd.invalid||changePwdForm.controls.newPwd.value!=changePwdForm.controls.newPwd2.value"
      (click)="changePasswordSubmit()" class="hures-search-btn" rippleEffect>Submit
      
    </button>
  </form>
</hure-overlay>