<div style="padding-top:24px;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8 col-lg-8 ">
        <div class="jumbotron">
          <div *ngIf="companies" class="hures-container">
            <div class="row" style="margin: 0.25rem">
              <!-- <div class="col-md-6"> -->
              <h4 class="text-center col-12 m-2" style="float: left">Các doanh nghiệp, có tất cả {{ total }} doanh nghiệp</h4>
              <!-- </div> -->
              <div class="col-12">
                  <span style="display:inline-block;" id="basic-addon1" style="margin:4px;vertical-align:middle;">
                      <i class="fa fa-search"></i>
                    </span>
                <input class="hures-compnay-search" type="text" placeholder="Tên doanh nghiệp..." (keyup.enter)="search()" (input)="keyword=$event.target.value"
                  [value]="keyword">
                
              </div>
            </div>
            <div  *ngIf="companies" class="d-flex flex-column">
              <ng-container *ngFor="let company of companies| paginate: { id: 'server', itemsPerPage: 10, currentPage: page, 
                totalItems: total } ;let i=index">
                <hure-company-card [company]="company" class="m-1"></hure-company-card>
                <hr style="width:100%;">
              </ng-container>
              <h5 class="text-center" *ngIf="companies.length==0">Không có mục nào</h5>
              <div class="has-text-centered">
                <pagination-controls id="server" (pageChange)="changePage($event)" autoHide="true" previousLabel="Trước" nextLabel="Sau"></pagination-controls>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-lg-4">
        <div *ngIf="companiesPartner$" class="jumbotron">
          <hure-companies-container [companiesObserver]="companiesPartner$" size="small" paging="no" title="Đối tác" limit="10"></hure-companies-container>
        </div>
      </div>
    </div>
  </div>
</div>