.filter{
    width: 70px !important;
    max-width: 70px !important;
    text-align: center;
}
.badge {
    width: 100%;
}
select{
    width: 100%;
}
.view-total{
    font-weight: bold;
}
a{
    cursor:pointer!important;
}
select{
    width: 100% !important;
}