<div class="hures-event-card">
  <div class="checktime" *ngIf="status">{{ status! }}</div>
  <a (click)="goToDetail()" class="hures-event-img">
    <img alt="logo" [src]="event?.imageURL" class="imgne" />
    <div class="img-hover"></div>
  </a>
  <div class="hures-event-relative">
    <div class="hures-event-button">
      <div class="label hures-btn">{{ event?.title }}</div>
    </div>
    <div href="#" class="hures-event-name">
      <a (click)="goToDetail()">{{ event?.name | limitText:50 }}</a>
    </div>
    <hr>
    <div class="hures-event-region">
      <div class="hures-event-region-place">
        <i class="fa fa-map-marker"></i> {{ event?.place }}</div>
      <!-- <br> -->
      <div class="hures-event-region-date">
        <i class="fa fa-calendar"></i> Hạn đăng kí: {{ event?.registerTime }}</div>
      <!-- <br> -->
      <div class="hures-event-region-date">
        <i class="fa fa-calendar"></i> Thời gian diễn ra: {{ event?.time }}</div>
    </div>


  </div>
</div>