<div class="hures-job-card d-flex flex-row align-content-stretch" id="hures-job-card">
  <a *ngIf="size=='medium'" href="company/{{job?.company.id}}">
    <img alt="logo" [src]="job.company.urlLogo" onerror="this.src='./resources/logo_default.png'" />
  </a>
  <div class="hures-job-content" style="cursor:pointer;">
    <div class="d-flex-column">
      <div class="row">
        <strong class="text-uppercase mt-0 mb-0 ml-1 col-12 job-title" (click)="apply()" [title]="job?.title">{{ job?.title| limitText:40 }}
          <span *ngIf="job?.isHot" style="width:32px" class="badge badge-danger">Hot</span>
        </strong>
        <p class="mt-0 mb-0 ml-1 d-block col-12">{{ job?.company?.name| limitText:40 }}</p>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 hures-job-info ">
          <small style="display:block;" class="text-muted m-1">
            <!-- <i class="fa fa-money"></i> -->
            Lương :{{ job?.salary | limitText:39}}</small>
        </div>
        <div class="col-12 col-lg-6 hures-job-info ">
          <small style="display:block;" class="text-muted m-1">
            <!-- <i class="fa fa-clock-o"></i> -->
            Thời gian :{{ job?.deadlineApply | date:'dd/MM/yyyy' }}</small>
        </div>
        <div class="col-12 col-lg-12 hures-job-info">
          <small style="display:block;" class="text-muted m-1">
            <!-- <i class="fa fa-map-marker"></i> -->
            Địa điểm :{{ job?.place }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="size=='small'">
  <div class="hures-job-content-small">
    <div>
      <p class="card-text text-uppercase" style="cursor:pointer;" (click)="apply()">{{ job?.title }}
          <span *ngIf="job?.isHot" style="width:32px" class="badge badge-danger">Hot</span>
      </p>
    </div>
  </div>
</div> -->