<div class="blog-component">
    <div class="cs-blog">
        <div class="cs-media">
            <figure>
                <a href="{{link}}" title="">
                    <img alt="" src="{{image}}">
                </a>
            </figure>
        </div>
        <div class="blog-text">
            <div class="cs-inner-bolg">
                <div class="post-option">
                    <span class="post-date">
                        <a href="{{linktotime}}">
                            {{time}}
                        </a>
                    </span>
                    <a href="{{linktotime}}">
                    <span class="post-comment">
                        </span>
                    </a>
                    <a href="{{linkcomment}}">
                        {{comment}}
                    </a>
                </div>
                <div class="cs-post-title">
                    <h5>
                        <a href="{{link}}" title="Candidates for This Position Should Love Producing">
                            {{title}}
                        </a>
                    </h5>
                    <p> 
                        {{content}}
                    </p>
                    <a href="{{link}}g/" class="read-more">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>