.filter{
    width: 70px !important;
    max-width: 70px !important;
    text-align: center;
}
.badge {
    width: 100%;
}
.cut-text{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
select{
    width: 100%;
}
.view-total{
    font-weight: bold;
}
a{
    cursor:pointer!important;
}
.image{
    width: 64px;
    height: 64px;
}
.tac-vu{
    width: 15px;
    text-align: center;
}