@import "~styles/variables";
a.btn-hure:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
}
.btn-hure{
    color: $main-color !important;
}
.btn-hure span{
    cursor: pointer;
}