<ng-template #edit let-c="close" let-d="dismiss" size="lg">
    <div class="modal-header">
        <h4 class="modal-title">Chỉnh Sửa Thông Tin</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" (ngSubmit)="save()" ngNativeValidate>
            <div class="form-group has-success">
                <label class="form-control-label" for="name">Tên doanh nghiệp</label>
                <input type="text" [(ngModel)]="CompanyModel.name" name="name" class="form-control form-control-success" id="name" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="jobGroup">Lĩnh vực</label>
                <input type="text" [(ngModel)]="CompanyModel.jobGroup" name="jobGroup" class="form-control form-control-warning" id="jobGroup"
                    required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="address">Địa chỉ</label>
                <input type="text" [(ngModel)]="CompanyModel.address" name="address" class="form-control form-control-warning" id="address"
                    required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="phoneCompany">Điện thoại công ty</label>
                <input type="text" [(ngModel)]="CompanyModel.phoneCompany" name="phoneCompany" class="form-control form-control-warning"
                    id="phoneCompany" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="emailCompany">Email công ty</label>
                <input type="email" [(ngModel)]="CompanyModel.emailCompany" name="emailCompany" class="form-control form-control-warning"
                    id="emailCompany" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="TaxCode">Mã số thuế</label>
                <input type="text" [(ngModel)]="CompanyModel.taxCode" name="TaxCode" class="form-control form-control-warning" id="TaxCode"
                    required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="representor">Người đại diện</label>
                <input type="text" [(ngModel)]="CompanyModel.representor" name="representor" class="form-control form-control-warning" id="representor"
                    required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="phoneRepresentor">Số điện thoại (Người đại diện/Doanh nghiệp)</label>
                <input type="text" [(ngModel)]="CompanyModel.phoneRepresentor" name="phoneRepresentor" class="form-control form-control-warning"
                    id="phoneRepresentor" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="emailRepresentor">Email (Người đại diện/Doanh nghiệp)</label>
                <input type="text" [(ngModel)]="CompanyModel.emailRepresentor" name="emailRepresentor" class="form-control form-control-warning"
                    id="emailRepresentor" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="representorAnother">Người đại diện khác</label>
                <input type="text" [(ngModel)]="CompanyModel.representorAnother" name="representorAnother" class="form-control form-control-warning"
                    id="representorAnother" required>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label" for="description">Mô tả</label>
                <textarea [(ngModel)]="CompanyModel.description" name="description" class="form-control form-control-warning" id="description"
                    required></textarea>
            </div>
            <div class="form-group has-danger">
                <admin-switch-button [Title]="'Đối tác'" [value]="CompanyModel.isPartner" (valueChanged)="CompanyModel.isPartner=$event"></admin-switch-button>
            </div>
            <div class="form-group has-warning">
                <label class="form-control-label">Logo</label>
                <admin-upload-file (uploadSuccess)="CompanyModel.urlLogo=$event" [url]="CompanyModel.urlLogo"></admin-upload-file>
            </div>
            <hr>
            <ngb-alert [type]="error.type" (close)="error.mess =''" *ngIf="error.mess != ''">{{ error.mess }}</ngb-alert>
            <div class="modal-footer">
                <button type="submit" class="btn-admin btn-primary">Lưu</button>
                <button type="button" class="btn-admin btn-secondary" (click)="close()">Hủy</button>
            </div>
        </form>
    </div>
</ng-template>