@import "~styles/variables";
.hures-search-outer {
    top: -32px;
    position: relative;
    .hures-search {
        background: var(--light);
        padding: 32px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin: 8px;
        .input-group {
            border: 1px solid rgba($color: gray, $alpha: 0.6);
            background: white;
            padding: 4px;
            margin: 4px;
            height: 44px;
            .input-group-addon {
                background: white;
                border: 0;
                border-radius: 0;
                i {
                    color: gray;
                }
            }
            input[type] {
                outline: none;
                border: 0;
                width: 100%;
                border-radius: 0;
                font-family: "Montserrat-Thin", sans-serif;
            }
        }
        .hures-search-btn {
            background: $main-color;
            color: white;
            height: 44px;
            margin: 4px;
            border: 0;
            width: 100%;
            font-family: "Montserrat", sans-serif;
            padding: 4px 32px;
        }
        
    }
}