<!-- <div class="hures-intro-banner">
    
</div> -->
<div class="container main-box">
    <div class="row">
        <!-- <div class="col-md-6 intro-img">
            <img src="img/chucnang3.png" width="100%">
        </div> -->
        <div class="col-md-12">
            <h4 class="intro-label intro-label2">CHỨC NĂNG</h4>
            <hr>
            <div class="intro-box">
                <p class="text-justify">1. Tham mưu cho Hội đồng quản trị, Ban giám hiệu trong công tác tổ chức và quản lý các hoạt động gắn kết
                    và hợp tác giữa Nhà trường với các doanh nghiệp trong và ngoài nước, triển khai các hoạt động hợp tác
                    đào tạo theo nhu cầu doanh nghiệp và chuyển giao công nghệ.</p>
                <br>
                <p class="text-justify">2. Tham mưu, đề xuất và thực hiện các hoạt động hỗ trợ phát triển nghề nghiệp cho SV, tăng cường sự phối
                    hợp giữa Nhà trường với các đơn vị sử dụng lao động nhằm hỗ trợ việc làm, thực tập cho SV-HS.</p>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:15px; margin-bottom:15px;">
            <h4 class="intro-label">NHIỆM VỤ</h4>
        </div>
        <div class="col-md-6">
            <h4 class="intro-mini-label text-left">
                <h4 class="intro-number-label text-center">1</h4>Công tác quan hệ hợp tác doanh nghiệp</h4>
            <div class="intro-box">
                <p class="text-justify">
                    Thường xuyên giữ liên lạc với các doanh nghiệp nhằm duy trì và phát triển mối quan hệ hợp tác giữa nhà trường với các doanh
                    nghiệp
                </p>
                <p class="text-justify">
                    Đầu mối trong việc tiếp nhận, quản lý thông tin và phối hợp với các Phòng, Ban, Khoa chuyên môn triển khai các hoạt động
                    đào tạo đa dạng, linh hoạt, mang tính xã hội hóa
                </p>
                <p class="text-justify">
                    Hợp tác với các doanh nghiệp thực hiện các khóa học nâng cao, các chuyên đề ngắn hạn, dài hạn theo nhu cầu của doanh nghiệp
                </p>
                <p class="text-justify">
                    Phối hợp với các đơn vị chức năng cùng hợp tác với các doanh nghiệp triển khai thực hiện, phát triển nghiên cứu ứng dụng
                    và chuyển giao công nghệ theo đặt hàng của doanh nghiệp
                </p>
                <p class="text-justify">
                    Tiếp nhận những ý kiến đóng góp của doanh nghiệp để phối hợp với các đơn vị chức năng tiến hành cập nhật, cải tiến chương
                    trình đào tạo phù hợp với nhu cầu thực tế; tiếp cận công nghệ, kỹ thuật mới đưa vào chương trình giảng
                    dạy
                </p>
                <p class="text-justify">
                    Khảo sát, đánh giá nhu cầu nguồn nhân lực đối với các ngành nghề Trường đang đào tạo và thông tin phản hồi của các đơn vị
                    sử dụng lao động về chất lượng đào tạo, khả năng đáp ứng công việc của SV sau khi ra trường
                </p>
                <p class="text-justify">
                    Giới thiệu các chuyên gia tại các doanh nghiệp tham gia giảng dạy tại Trường
                </p>
                <p class="text-justify">
                    Vận động các nguồn tài trợ học bổng, trang thiết bị phục vụ học tập từ các Doanh nghiệp, doanh nghiệp và cơ quan
                </p>
                <p class="text-justify">
                    Phối hợp với Phòng Công tác Sinh viên – Học sinh và Ban chấp hành Hội cựu SV triển khai các hoạt động trao đổi kinh nghiệm
                    nghề nghiệp, giới thiệu các ngành nghề; xây dựng và khai thác dữ liệu các cá nhân, tập thể cựu SV thành
                    đạt và dữ liệu từ câu lạc bộ doanh nhân HUTECH.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="intro-mini-label text-left">
                <h4 class="intro-number-label text-center">2</h4>
                Phát triển nghề nghiệp và giới thiệu việc làm</h4>
            <div class="intro-box">
                <p class="text-justify">
                    Phối hợp với các Phòng, Khoa, Ban tổ chức các hoạt động hỗ trợ kỹ năng và phát triển nghề nghiệp cho SV (hội thảo chuyên
                    đề, huấn luyện kỹ năng, phương pháp học tập, hội thi học thuật, giao lưu giữa doanh nghiệp và SV,…)
                </p>
                <p class="text-justify">
                    Phối hợp với doanh nghiệp và các đơn vị chức năng tổ chức các hoạt động giao lưu với các đơn vị sử dụng lao động, giúp bổ
                    sung kiến thức, kỹ năng cần thiết phù hợp với công việc sau khi tốt nghiệp
                </p>
                <p class="text-justify">
                    Phối hợp với các đơn vị trong Trường liên hệ với các cơ sở sản xuất, các Doanh nghiệp tuyển dụng lao động để hỗ trợ SV-HS tìm
                    kiếm việc làm phù hợp
                </p>
                <p class="text-justify">
                    Tổ chức xây dựng hệ thống thông tin về việc làm, chỗ thực tập; khả năng đáp ứng nguồn nhân lực và nhu cầu sử dụng lao động
                    để tư vấn, giới thiệu việc làm, chỗ thực tập cho SV-HS
                </p>
                <p class="text-justify">
                    Chủ trì phối hợp với các đơn vị tổ chức sàn giao dịch, hội chợ việc làm
                </p>
            </div>
        </div>


    </div>
</div>